# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Virtual Environments
.venv/
venv/
ENV/
env/

# Data & Notebook checkpoints
data/*.csv
.ipynb_checkpoints/

# Heavy model artifacts & output binaries
models/*.joblib
models/*.pkl

# Operating System files
.DS_Store
Thumbs.db

# IDE configuration
.vscode/
.idea/
